@font-face {
  font-family: "neurimboGothicRegular";
  src: url("https://raw.githubusercontent.com/mannerism/custom-fonts/main/neurimboGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
